*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    background-image: url(../img/contact.jpg);
    background-repeat:no-repeat;
}
.contact-main {
    font-size: 2rem;
    display: grid;
    align-content: center;
    align-items: center;
    text-align: center;
    border: 0.1rem solid #333;
    border-radius: 1.2rem;
    width: 50rem;
    height: 50rem;
    position: center;
    margin-top: 3rem;
    background-color: #dbe0e6;
    opacity: 0.8;
}

.a {
    text-decoration: none;
    border: 0.1rem solid #333;
    /* width: 15rem; */
    font-size: 4rem;
    border-radius: 1.2rem;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    background-color: #6db5ef;
    color: #fff;
    transition: .4s all;
}
    .a:hover {
        background-color: #abd0ee;
        color: #fff;
    }
.phone p {
    font-size: 3rem;
    text-decoration: none;
    border: 0.1rem solid #333;
    /* width: 15rem; */
    border-radius: 1.2rem;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    background-color: #6db5ef;
    color: #fff;
    transition: .4s all;
}

center {
    margin-bottom: 3rem;
}